:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--color5);
}
header {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-between;
}
nav li {
    flex-basis: 48%;
    margin-bottom: 0.5rem;
}
nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}
nav li:first-child a {
    background-color: transparent;
}
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    display: block;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color10);
    border-radius: 5px;
}
nav a:hover{
    background-color: var(--color1);
    color: var(--color5);
}

#hero {
    background-color: var(--color7);
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
#hero img {
    max-width: 100%;
    max-height: 454px;
}


figure {
    margin: 0 0 0.5rem 0;
    padding: 0;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
}
#popart figure {
 background-color: var(--color8);
}
figure img {
    margin-bottom: -4px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -150px;
}
#popart figure img {
    object-position: 0;
    object-fit: cover;
}
figcaption {
    background-color: rgba(255,255,255,0.8);
    font-size: 1.875rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
figcaption a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--color1);
}
.stripe {
    background-color: var(--color2);
    color: white;
    padding: 1rem 0 2rem 0; 
}

#featured figure {
    max-height: 650px;
}
#featured img {
    object-position: 0;
}



.color2,
.color2 a:hover{
    border-color: var(--color2);
    color: var(--color2);
}

.color3,
.color3 a:hover{
    border-color: var(--color3);
    color: var(--color3);
}
.color4,
.color4 a:hover {
    border-color: var(--color4);
    color: var(--color4);
}
.color6,
.color6 a:hover{
    border-color: var(--color6);
    color: var(--color6);
}
.color7,
.color7 a:hover{
    border-color: var(--color7);
    color: var(--color7);
}
.color8,
.color8 a:hover{
    border-color: var(--color8);
    color: var(--color8);
}

#mission {
    margin-bottom: 3rem;
}
 
.missiontext {
    display: block;
    line-height: 1.7;
}

.missionimg {
    max-height: 100px;
    display: block;
}
.footer {
    background-color: var(--color5);
}

footer {
    padding: 3rem;
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
    margin: 0 auto;
}
footer h4 {
    margin-top: 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}
footer li {
    margin-right: 1rem;
}
footer address {
    font-style: normal;
    margin-top: 2rem;
    font-weight: bold;
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
    section ul,
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    section li,
    .social,
    address {
        flex-basis: 49.5%;
    }
    #popular li:last-child figure {
        flex-basis: 100%;
    }
    #popular li:last-child figure img {
        object-position: 0 -350px;
    }
    figure {
        max-height: 100%;
    }
    figure img {
        object-position: 0;
    }
    .missiontext {
        display: flow-root;
        max-width: 900px;
    }
    .missionimg {
        float: left;
        shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%,51.64% 4.06%,55.1% 2.38%);
        max-height: 211px;
    }
    footer address {
        margin-top: 0;
    }
    header {
        padding: 3rem;
    }
    nav ul {
        justify-content: center;
        gap: 1.2em;
    }
    nav li {
        flex-basis: auto;
        margin-bottom: 0;
    }
    nav a {
        color: var(--color1);
        background-color: transparent;
        padding: 0;
    }
    nav a:hover{
        color: var(--color2);
        background-color: transparent;
    }
    #popart ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    .colspan2{
        grid-column: span 2;
    }
    .colspan3 {
        grid-column: span 3;
    }
    .rowspan2 {
        grid-row: span 2;
    }
    .rowspan2 figure {
        max-height: unset;
    }
    figure {
        height: 100%;
    }
}


/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
    section h2 {
        margin-left: 100px;
    }
    section li,
    .social,
    #popular li:last-child  {
        flex-basis: 32.5%;
    }
    #popular li:last-child figure img {
        object-position: 0;
    }
    address {
        flex-basis: 65.5%;
    }
    nav ul {
        justify-content: flex-end;
    }
    nav li:first-child {
        flex-basis: auto;
        margin: 0 auto;
        order: 2;
    }
    nav li:nth-child(2),
    nav li:nth-child(3) {
        order: 1;
    }
    nav li:nth-child(4),
    nav li:nth-child(5) {
        order: 3;
    }
}